<%= link_to "Go to all vendors", vendors_path %>

<%= form_for(zone) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :num_employees %>
    <%= f.text_field :num_employees %>
  </p>
  
  <p>
    <%= f.label :market_id %>
    <%= f.text_field :market_id %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>