<section>
  <%= form_for ([@market, @vendor]) do |t| %>
  <article class="form">
    <%= t.label :name %>
    <%= t.text_field :name %>
  </article>

  <article class="form">
    <%= t.label :employee_num %>
    <%= t.text_field :employee_num %>

    <%= t.hidden_field :market_id %>
  </article>

    <%= t.submit %>
  <% end %>
</section>
