<% if @market_edit == true %>
  <span class="m-card"><%= link_to "Create a New Vendor", new_market_vendor_path %></span>
<% end %>

<article>
  <% @vendors.each do |vendor| %>
    <section class="vend">
      <p><%= link_to vendor.name, vendor_path(vendor.id) %></p>
      <p><%= vendor.employee_num %> - Employee(s)</p>
      <p><%= vendor.market_id %></p>
      <% if @market_edit == true %>
        <%= link_to "EDIT", edit_market_vendor_path(params[:market_id], vendor.id)  %>
        <%= form_tag(market_vendor_path(params[:market_id], vendor.id), method: "delete", data: {confirm: "Are you sure?"}) do %>
        <%= submit_tag "Delete" %>
        <% end %>
      <% end %>
    </section>
  <% end %>
</article>
