<h1>Here are your sales!</h1>

<%= params %>



<%= link_to "All", action: "sales", month_display: nil %>
<%= link_to "Current Month", action: "sales", month_display: DateTime.now %>

<% if params[:month_display].nil? %>
  <h2>All-time Sales</h2>
  <% @sales = Sale.where(vendor_id: @vendor.id).order(product_id: :asc) %>
<% else %>
  <%= @current_month = params[:month_display][0..6] %>
  <% @sales = Sale.where(vendor_id: @vendor.id).where('purchase_time LIKE ?', "%#{@current_month}%").order(product_id: :asc) %>
  <h2>Current Month Sales</h2>
<% end %>

<ul>
  <% total_sales = 0.0 %>
  <% @sales.each do |sale| %>
  <li>
    <%= sale.product_id %>
    <%= sale.amount %>
    <%= sale.purchase_time %>
    <% total_sales += sale.amount %>
  </li>
  <% end %>

</ul>

<p>
  Your total sales are <%= "$ #{total_sales/100}" %>
</p>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li><%= link_to " New Sale", new_sale_path(vendor_id: @vendor.id), class: "glyphicon glyphicon-shopping-cart" %></li>
      </ul>
    </div>
  </div>
</nav>
