<!-- info about one vendor-->
<section class="vendorlist_show">
  <%= link_to "Welcome Page", root_path %>
  <div class="vendor_name">
    <h2>Name: <%= @vendor.name %></h2>
  </div>
  <div class="vendor_id"
    <h2>ID: <%= @vendor.num_employees %></h2>
  </div>
  <div class="vendor_address"
    <h2>Address: <%= @vendor.market_id %></h2>
  </div>
</section>

<p class="edit-link">
<%= link_to "Edit this vendor", edit_vendor_path(@vendor.id) %>
</p>

<p class="delete-link">
<%= link_to "Delete this vendor", vendor_path(@vendor.id), method: :delete, data: {confirm: 'Are you sure you want to delete this vendor?'} %>
</p>