<!-- info about one vendor-->
  <%= link_to "Welcome Page", root_path %>
  <%= link_to "My Sales", sale_path(@vendor.id) %>
<section class="vendor_show">
  <div class="vendor_name">
    <h2>Name: <%= @vendor.name %> </h2>
  </div>
  <div class="vendor_id">
    <h2>ID: <%= @vendor.ven_id %> </h2>
  </div>
  <div class="vendor_num_employees">
    <h2>Employees: <%= @vendor.num_employees %> </h2>
  </div>
  <div class="vendor_market_id">
    <h2>Market Name: <%= @vendor.market.name %> </h2>
  </div>

  <div class="vendor_sales">
    <% @vendor.sales.each do |sale| %>
      <%= sale.product.name %>
      <%= sale.amount %>
    <% end %>
  </div>

</section>
