<h1>
  <%= @market.name %>
</h1>

<div class='market-info'>
  <p>
    <%= @market.address %>
  </p>
  <p>
    <%= @market.city %>
  </p>
  <p>
    <%= @market.state %>
  </p>
  <p>
    <%= @market.zip %>
  </p>
  <p>
    <%= @market.county %>
  </p>
</div>