<h1>Markets</h1>
<pre><%= params %></pre>
<table class="table table-striped" class="table table-hover">
<tr class="header-row">
<th>Name</th>
<th>Street</th>
<th>City</th>
<th>State</th>
<th>Zip</th>

</tr>
<tr class="row"><% @markets.each do |market| %></tr>
	<td><%= link_to market.name, market_path(market.id) %></td>
	<td><%= market.street %></td>
	<td><%= market.city %></td>
	<td><%= market.state %></td>
	<td><%= market.zip %></td>

	<% end %>

</table>