<%= link_to "Create", new_market_path %>

<article>
  <% @markets.each do |market| %>
    <section>
      <%= link_to market.name, market_path(market.id) %>
      <%= market.address %>
      <%= market.city %>
      <%= market.county %>
      <%= market.state %>
      <%= market.zip %>
      <%= link_to "Edit", edit_market_path(market.id) %>
    </section>
  <% end %>
</article>
