<h1>
  <div class='page-title'>
    <%= image_tag 'markets-banner.png' %> 
  </div>
</h1>
<% if params[:user] == 'market' %>
  <%= link_to "Add A New Market", new_market_path %>
  <div class='list'>
    <ul>
      <% @markets.each do |market| %>
    <div class='list-item'>
        <li>
          <%= link_to market.name, market_path(market.id) %>
          <%= market.address %>
          <%= market.city %>
          <%= market.state %>
        </li>
    </div>
      <% end %>
    </ul>
  </div>
<% else %> 
  <ul>
    <% @markets.each do |market| %>
      <li>
        <%= link_to market.name, market_path(market.id,:user => "guest") %>
        <%= market.address %>
        <%= market.city %>
        <%= market.state %>
      </li>
    <% end %>
  </ul>
<% end %> 