

<ul class = "market_info">
  <li><div class="tag">Name:</div><%=@market.name%></li>
  <li><div class="tag">Address:</div>
    <%=@market.address%><br>
    <%=@market.city%><br>
    <%=@market.county%><br>
    <%=@market.state%><br>
    <%=@market.zip%><br>
  </li>
</ul>
