
<h1> Market Information </h1>
    <%=link_to "Edit Your Information", edit_market_path(@market.id)%>
<ul class = "market_info">
  <li><div class="tag">Name:</div><%=@market.name%></li>
  <li><div class="tag">Address:</div>
    <%=@market.address%><br>
    <%=@market.city%><br>
    <%=@market.county%><br>
    <%=@market.state%><br>
    <%=@market.zip%><br>
  </li>
</ul>

<h1> Vendor List </h1>
<div class = "create">
  <%=link_to "Create New Vendor", new_vendor_path(:market_id => @market.id)%>
</div>

<table>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%=vendor.name%></td>
        <td><%=link_to "Edit", edit_vendor_path(id: vendor.id, :market_id => @market.id)%></td>
        <td><%=link_to "Delete", vendor_path(id: vendor.id), method: :delete%></td>
      </tr>
    <%end%>

</table>
