<!-- info about one market-->
<section class="marketlist_show">
  <%= link_to "Welcome Page", root_path %>
  <div class="market__name">
    <h2>Name: <%= @markets.name %></h2>
  </div>
  <div class="market_id"
    <h2>ID: <%= @markets.mar_id %></h2>
  </div>
  <div class="market_address"
    <h2>Address: <%= @markets.address %></h2>
  </div>
  <div class="market_city"
    <h2>City: <%= @markets.city %></h2>
  </div>
  <div class="market_county"
    <h2>County: <%= @markets.county %></h2>
  </div>
  <div class="market_zip"
    <h2>Zip: <%= @markets.zip %></h2>
  </div>
</section>
