<h1><%= "#{@market.name.gsub(/[A-Za-z']+/,&:capitalize)}" %> Details</h1>

<h2><em>Name:</em><br>
   <%= @market.name.gsub(/[A-Za-z']+/,&:capitalize) %></h2>
<h2><em>Street/Site Location:</em><br>
   <%= @market.address %></h2>
<h2><em>City:</em><br>
  <%= @market.city %></h2>
<h2><em>County:</em><br>
   <%= @market.county %></h2>
<h2><em>State:</em><br>
   <%= @market.state %></h2>
<h2><em>Zip Code:</em><br>
  <%= @market.zip_code %></h2>

<h2>Vendors at <%= "#{@market.name.gsub(/[A-Za-z']+/,&:capitalize)}" %></h2>
<ul>
  <% @all_vendors.each do |vendor| %>
    <% if vendor.market_id == @market.id %>
      <li><%= link_to vendor.name, vendor_path(vendor.id) %></li>
    <% end %>
  <% end %>
</ul>
<h2><%= link_to 'Edit this market information', edit_market_path(@market.id) %><h2>

<h2><%= link_to 'home', root_path %><h2>
<h2><%= link_to 'All Markets', markets_path %><h2>
