<h1><%= @market.name %></h1>
<div class='market-info'>
  <p>
    <%= @market.address %>
  </p>
  <p>
    <%= @market.city %>
  </p>
  <p>
    <%= @market.state %>
  </p>
  <p>
    <%= @market.zip %>
  </p>
  <p>
    <%= @market.county %>
  </p>
</div>
<aside>
  <p>
    <%= link_to "Edit This Market", edit_market_path %>
  </p>
  <p>
    <%= link_to "Delete This Market", @market, :method => :delete, :data => {:confirm => "Are You Sure?"} %>
  </p>
  <p>
    <%= link_to "Back to All Markets", markets_path %>
  </p>
</aside>

