
<table class="table table-striped" class="table table-hover">
<tr>
	<th>Name</th>
	<th>Street</th>
	<th>City</th>
	<th>State</th>
	<th>Zip</th>
</tr>	

	<td><%= @market.name %></td>
	<td><%= @market.street %></td>
	<td><%= @market.city %></td>
	<td><%= @market.state %></td>
	<td><%= @market.zip %></td>

</table>

<%= render 'shared/vendor_list' %>
	