<h2><%= @market.market_name %></h2>
<ul>
  <li><%= "Address"%></li>
  <li><%="#{ @market.address}," %>
  <%="#{@market.city},"%>
  <%=" #{@market.state}," unless @market.state.nil?%><%=" #{@market.zip}" unless @market.zip.nil?%></li>

  <li><%= "County"%></li>
  <li><%="#{@market.county}" unless @market.county.nil?%></li>
</ul>

<h3>Vendors</h3>
<ul>
  <% @vendors.each do |vendor| %>
  <li>
    <%= link_to vendor.vendor_name, vendor_path(vendor.id)%>
    <!-- IF STATEMENT FOR MARKETS TO EDIT -->
    <%= button_to 'Edit', edit_vendor_path(vendor.id), method: :get, data: {confirm: "Please sign in to edit."} %>

    <%= button_to 'Delete', url_for(action: :destroy, id: vendor.id),method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %>
  </li>

  <% end %>
</ul>


<!-- IF STATEMENT FOR AUTHENTICATION -->

<%= link_to 'Edit Market', edit_market_path(@market)%>

<%= link_to "Add Vendor", new_vendor_path%>
