<h1> Welcome, <%=@market.name%>! </h1>

<p>
  Address: <%= @market.address %><br>
  City: <%= @market.city %><br>
  County: <%= @market.county %><br>
  State: <%= @market.state %><br>
  Zip: <%= @market.zip %><br>
</p>

<h2>Vendors: </h2><br>
  <% @market.vendors.each do |vendor| %>
    <ul>
      <li> <%= vendor.name %> </li>
    </ul>
  <% end %>
