<article>
    <section>
      <%= @market.name %>
      <%= @market.address %>
      <%= @market.city %>
      <%= @market.county %>
      <%= @market.state %>
      <%= @market.zip %>
    </section>
</article>
