<article>
    <section>
      <%= @market.name %>
      <%= @market.address %>
      <%= @market.city %>
      <%= @market.county %>
      <%= @market.state %>
      <%= @market.zip %>
    </section>
    <section>
      <%= link_to "View All Vendors", market_vendors_path(@market.id) %>
    </section>
</article>
