<h1> Welcome, <%=@market.name%>! </h1>

Address:  <%= @market.address %>, <%= @market.city %>, <%= @market.county %>, <%= @market.state %>, <%= @market.zip %><br>

Vendors: <br>
<% @market.vendors.each do |vendor| %>
<ul>
  <li> <%= vendor.name %> </li>
</ul>
<% end %>
