<% if @product.errors.any? %>
  <ul class="errors">
    <% @product.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @product do |f| %>
<!-- use the instance to give form_for all the information they need to know about tasks! -->
  <%= field_set_tag 'Product Information', :html => {:class => "form-control"}  do %>
    <%= f.label :name,class: "sr-only" %>
    <%= f.text_field :name, placeholder: "Name" %>

    <%= f.hidden_field :vendor_id, value: params[:vendor_id] || @product.vendor_id %>
    <%= f.submit %>

  <% end %>
<% end %>
