<h1> Edit a vendor: </h1>


<% if @product.errors.any? %>
  <ul>
    <% @product.errors.each do |column, message| %>
      <li>
        <%= column.capitalize %> <%= message %>
      </li>
    </ul>
    <% end %>
<% end %>


<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
