<section>
    <h2><%= form_for [@vendor, @product] do |f| %>
      <%= f.label :name %>
      <span class="field"><%= f.text_field :name %></span>
      <%= f.hidden_field(:vendor_id, :value => @vendor.id)  %>

      <%= f.submit 'Create Product' %>
    <% end %></h2>
</section>
