<h2> Add a Product </h2>

<% vendor = Vendor.find(params[:id]) %>

<p> Hello, <%= vendor.vendor_name %>. Fill in the form below to create a new product.</p>

<%= form_for @new_product do |f| %>
  <%= f.label :product_name %>
  <%= f.text_field :product_name, :required => true %>

  <%= f.submit %>
<% end %>

<%= link_to "Go back to my products...", product_path(vendor.id) %>
