<%= link_to "All Vendors", vendors_path %>

<h1><%= @vendor.name %>'s sales</h1>

<h2>All sales</h2>
<div class="list_of_sales">
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Sale Amount</th>
      </tr>
    </thead>
    <% @vendor.sales.each do |sale| %>
      <tr>
        <td><%= sale.product.name %></td>
        <td>$<%= to_money(sale.amount) %></td>
      </tr>
    <% end %>
  </table>
</div>


<p>Sum of all sales: $<%= to_money(@sum) %></p>


<h2>See sales from the following month:</h2>
<%= form_tag sales_path, method: :get do %>
  <%= select_tag("month", options_for_select([['January', '01'], ['February', '02'], ['March', '03'], ['April', '04'], ['May', '05'], ['June', '06'], ['July', '07'], ['Aug', '08'], ['September', '09'], ['October', '10'], ['November', '11'], ['December', '12']], :selected => params[:month]), :onchange => "this.form.submit()") %>
<% end %>


<% unless @sales_this_month.empty? %>
  <% @sales_this_month.each do |sale| %>
    <p><%= sale.product.name %></p>
    <p><%= sale.purchase_time %></p>
  <% end %>
<% else %>
  <h2>No sales this month</h2>
  <p>Sum of sales this month: $<%= to_money(@sales_this_month.sum(:amount)) %></p>
<% end %>
