<%= link_to "Vendors", vendors_path %>

<div class="list_of_sales">
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Sale Amount</th>
      </tr>
    </thead>
    <% @vendor.sales.each do |sale| %>
      <tr>
        <td><%= sale.product.name %></td>
        <td>$<%= sale.amount / 100.0 %></td>
      </tr>
    <% end %>
  </table>
</div>


<p>Total sum of sales: $<%= '%.2f' % (@sum / 100.0) %></p>

<% unless @sales_this_month.empty? %>
  <p>All sales this month: </p>
  <% @sales_this_month.each do |sale| %>
    <p><%= sale.product.name %></p>
    <p><%= sale.purchase_time %></p>
  <% end %>
<% else %>
  <p>No sales this month!</p>
<% end %>

<p>Total sum of sales this month: $<%= '%.2f' % (@sales_this_month.sum(:amount) / 100.0) %></p>
