<h1>Sales</h1>


<%=link_to "Add new sale" , new_vendor_sale_path%>
<%sum = 0%>

<h2> Sales for Current Month</h2>
<table>
<%@sales_month.each do |sale|%>
<%sum = sum + sale.amount%>

<tr>

  <td><span>Vendor: <%=sale.vendor_id%></span></td>
  <td><span>Product: <%=sale.product_id%></span></td>
  <td><span>Sale Amount: <%=sale.amount%></span></td>
  <td><span>Purchase Time <%=sale.purchase_time%></span></td>
</tr>
<%end%>
</table>
<span>Total Sales:</span> <%=sum%>




<h2> All Sales</h2>
<table>
<%@sales.each do |sale|%>
<%sum = sum + sale.amount%>

<tr>

  <td><span>Vendor: <%=sale.vendor_id%></span></td>
  <td><span>Product: <%=sale.product_id%></span></td>
  <td><span>Sale Amount: <%=sale.amount%></span></td>
  <td><span>Purchase Time <%=sale.purchase_time%></span></td>
</tr>
<%end%>
</table>

<span>Total Sales:</span> <%=sum%>
