<pre><%= params %></pre>
<h1> <%= @vendor.name %> </h1>


<table class="table table-striped" class="table table-hover">
    <thead>
    <tr>
      <th class="headings" colspan=2>SALES </th>
    </tr>
    <tr class="header-row">
	   <td>Amount</td>
     <td>Purchase Time</td>
    </tr>
  </thead>
  <tbody>
    <tr class="row">
      <% @vendor.monthly_sales.each do |sale| %>  </tr>
	    <td><%= sale.dollar_format %></td>
      <td><%= sale.purchase_time %></td>
    <% end %>
    <tr class = "row"></tr>
      <td>TOTAL</td>
      <td><%= @vendor.total_sales %></td>
  </tbody>
</table>

<table class="table table-striped" class="table table-hover">
    <thead>
    <tr>
      <th class="headings" colspan=2>SALES </th>
    </tr>
    <tr class="header-row">
	   <td>Amount</td>
     <td>Purchase Time</td>
    </tr>
  </thead>
  <tbody>
    <tr class="row">
      <% @sales.each do |sale| %>  </tr>
	    <td><%= sale.dollar_format %></td>
      <td><%= sale.purchase_time %></td>
    <% end %>
    <tr class = "row"></tr>
      <td>TOTAL</td>
      <td><%= @vendor.total_sales %></td>
  </tbody>
</table>
