

<h1>New!</h1>

<section class= "form">
  <span><%=form_for ([@vendor, @sale]) do |f| %></span><br>
  <span>Amount:<%=f.text_field :amount %></span><br>
  <span>Purchase Tme:<%=f.text_field :purchase_time %></span><br>
  <span>Product ID:<%= f.select "product_id", options_from_collection_for_select( @products , "id", "name", :include_blank => true) %><br>

  <span><%=f.submit%></span>
  <% end %>

</section>
