<h1><%="#{@vendor.vendor_name}"%></h1>
<h2>Add A Sale</h2>


Enter New Sale for <%= @product.product_name %>. (e.g. 50.00)


<%= form_for @sale do |f| %>
  <%= f.label :amount %>
  $<%= f.text_field :amount, :required => true %>

  <%= f.hidden_field :vendor_id, :value => @vendor.vendor_id %>
  <%= f.hidden_field :product_id, :value => @product.product_id %>

  <%= f.submit %>
<% end %>


<%= link_to "Back to Products", product_path(@vendor.id) %>
