<h2>Add a New Sale for a Product</h2>

<%= form_for [@vendor, @sale] do |f| %>
	<%= f.label :'Enter sale amount:' %>
	<br>
	<%= f.text_field :amount, class: 'field' %>
<div class="form-actions", class="dropdown", class="btn btn-primary dropdown-toggle">
      <%= f.label "Choose a Product"%>
      <%= f.select (:product_id) do %>
      <%= options_from_collection_for_select(Product.all, :id, :name) %>
      <% end %>
    </div>
	<%= f.hidden_field(:vendor_id, :value => @vendor.id) %>	<br>
	<%= f.submit %>
<% end %>