

<h1>New!</h1>

<section class= "form">
  <span><%=form_for ([@vendor, @sale]) do |f| %></span><br>
  <span>Amount:<%=f.text_field :amount %></span><br>
  <span>Purchase Tme:<%=f.text_field :purchase_time %></span><br>
  <span>Product ID:<%=f.text_field :product_id %></span><br>
  <span><%=f.submit%></span>
  <% end %>

</section>
