<% @month_num = { "01" => 'JAN', "02" => 'FEB', "03" => 'MAR',  "04" => 'APR',  "05" => 'MAY',  "06" => 'JUN', "07" => 'JUL',  "08" => 'AUG', "09" => 'SEP',  "10" => 'OCT',  "11" => 'NOV',  "12" => 'DEC'} %>
<ul>
  <% @group.each do |key, value| %>
    <li>
      <% v_id = params[:id] %>
      <% used_month = @month_num[key] %>
      <%= link_to used_month, "/sales/#{v_id}/#{used_month}", method: :get %>
    </li>
  <% end %>
</ul>

<% vendor = Vendor.find(params[:id]) %>

<h2>Total Sale List For: <%= vendor.vendor_name %></h2>


<table>
  <thead>
    <tr>
      <th>Product Name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <% @total = 0.to_i %>
  <%= @total.inspect %>
  <% @sale.each do |sal| %>
    <% name = Sale.find(sal.id) %>
    <%= @total += sal.amount.to_i %>
    <tbody>
      <td><%= name %></td>
      <td><%= sal.amount %></td>
      <td><%= sal.purchase_time %></td>
  <% end %>
<p> Total sales are <%= @total %>. </p>
</tbody>
  </table>

<%= link_to "Would you like to view your market info again, #{vendor.vendor_name}?", vendor_path(vendor.id) %>
<%= link_to "Would you like to create a new product?", new_product_path(params[:id]) %>
