<% vendor = Vendor.find(params[:id]) %>
<% @sale.each do |thing| %>
<%= thing.product_id %>
<% end %>

<h2>Total Sale List For: <%= vendor.vendor_name %></h2>

<table>
  <thead>
    <tr>
      <th>Sale Time</th>
      <th>Amount</th>
    </tr>
  </thead>
  <% @total = 0.to_i %>
  <% @sale.each do |sal| %>
  <% @total += sal.amount.to_i %>
  <tbody>
    <td><%= sal.purchase_time %></td>
    <td><%= sal.amount %></td>
    <% end %>
    <p> Total sales are <%= @total %>. </p>
  </tbody>
</table>

<%= link_to "Would you like to view your market info again, #{vendor.vendor_name}?", vendor_path(vendor.id) %>
<%= link_to "Would you like to create a new product?", new_product_path(params[:id]) %>
