<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="homeheader">
  <h1>FarMar</h1>
  <nav>
    <ul>
      <li>
        <%= link_to "Home", root_path%>
      </li>
      <li><%= link_to "Markets", markets_path%></li>
      <li>
        <%= link_to "Vendors", vendors_path%>
      </li>
    </ul>
  </nav>
  </header>
<%= yield %>

</body>
</html>
