<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Hind:400,600' rel='stylesheet'  type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <header>
  </header>
  <nav class="nav_bar">
    <ul>
      <li class = "button_link"><%= link_to "Home", root_path%></li><br>
      <li class = "button_link">
        <%= form_tag(controller: "login", action: "create", method: "post") do%>
        <%= label_tag(:id, "Enter market id:") %>
        <%= text_field_tag(:id) %>
        <%= submit_tag("Log in") %>
        <% end %>
      </li>
      <li class = "button_link">
        <%= form_tag(controller: "login", action: "vendorcreate", method: "post") do%>
        <%= label_tag(:id, "Enter vendor id:") %>
        <%= text_field_tag(:id) %>
        <%= submit_tag("Log in") %>
        <% end %>
      </li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>

</html>
